.list-hourly {
  display: flex;
  flex-direction: column;
}

.hourly-list-item {
  display: flex;
  align-items: center;
}

.hourly-list-item:not(:last-child) {
  border-bottom: 1px dotted black;
}

.hourly-list-item > td {
  text-align: center;
  text-overflow: ellipsis;
  width: 100%;
}

.hourly-list-item > td:first-child {
  min-width: 4rem;
  max-width: 4rem;
}
.hourly-list-item > td:last-child {
  min-width: 4rem;
  max-width: 4rem;
}

.hourly-list-temp {
  display: flex;
  justify-content: center;
  font-size: 1.25rem;
  font-weight: 700;
  gap: 0.25rem;
}

.tempUnit-symbol {
  display: none;
}

.hourly-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 600px) {
  .hourly-list-item > td:first-child {
    min-width: auto;
    max-width: auto;
  }
  .hourly-list-item > td:last-child {
    min-width: auto;
    max-width: auto;
  }

  .tempUnit-letter {
    display: none;
  }

  .tempUnit-symbol {
    display: block;
  }

  .hourly-list-description {
    display: none;
  }
}