.leaflet-container {
  height: 500px;
}

.legend {
  padding: 6px 8px;
  background: white;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  margin-right: 10px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.legend-title {
  margin-right: 0.25rem;
  text-wrap: nowrap;
}

.horizontal-gradient-scale {
  border-radius: 4pt;
  height: 4px;
  opacity: .9;
  width: 260px;
  border-left: 1px solid #f2f2f2;
  border-bottom: 1px solid #f2f2f2;
}

.temperature {
  background-image: linear-gradient(to right, rgba(130, 22, 146, 1),rgba(130, 22, 146, 1), rgba(130, 22, 146, 1), rgba(130, 22, 146, 1), rgba(130, 87, 219, 1), rgba(32, 140, 236, 1), rgba(32, 196, 232, 1), rgba(35, 221, 221, 1), rgba(194, 255, 40, 1), rgba(255, 240, 40, 1), rgba(255, 194, 40,1), rgba(252, 128, 20, 1));
}

.scale-dividers {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
}

@media only screen and (max-width: 600px) {
  .leaflet-container {
    height: 370px;
  }

  .legend {
    flex-direction: column;
    padding: 3px;
  }

  .horizontal-gradient-scale {
    width: 223px;
  }

  .scale-dividers {
    font-size: 10px;
  }
}