.hero-list-today {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem 0 1rem;
  height: 9rem;
}

.hero-list-today > img {
  height: 100%;
}

.list-today {
  list-style-type: none;
}

.today-list-temp {
  display: flex;
  font-size: 3rem;
  font-weight: 700;
}

.today-list-feels-like {
  white-space: nowrap;
  display: flex;
}

@media only screen and (max-width: 600px) {
  .hero-list-today > img {
    height: 50%;
  }
}