.list-overview {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}

.list-item {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 1rem 0 1rem;
}

.list-item > img {
  width: 100%;
}

.item {
  text-align: center;
}

.overview-list-temp {
  display: flex;
  justify-content: center;
  font-weight: 700;
}

.tempUnit-symbol {
  display: none;
}

.list-item:not(:last-child) {
  border-right: 1px dotted black;
}

@media only screen and (max-width: 600px) {
  .list-item {
    padding: 0;
  }
  .tempUnit-letter {
    display: none;
  }
  .tempUnit-symbol {
    display: block;
  }
}