
.list-overview {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}

.list-item {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 1rem 0 1rem;
}

/* .list-item-image {
  max-width: 40px;
} */

.item {
  text-align: center;
}

.list-item:not(:last-child) {
  border-right: 1px dotted black;
}