/* CUSTOM PROPERTIES */
:root {
  --page-bg: #fff;

  --primary-text: #f5f5f5;
  --primary-text-dark: #000;

  /* Cards */
  --card-bg: var(--primary-text);
  --card-text-header: var(--primary-text-dark);
  --card-border-radius: 6px;
  --card-box-shadow: 0 0 12px 0 rgb(0 0 0 / 20%);
  --card-header-padding: 1rem;

  /* Button */
  --button-bg-active: #6E3F98;

  /* Search */
  --search-bg: #8B65AD;

  /* Navbar */
  --nav-bg: #42265B;

  /* Location-list */
  --location-list-bg: #794c9e;
  --location-list-item-active-bg: hsla(0, 0%, 100%, .1);;
}

/* GENERAL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.content {
  /* use min-height instead of just height to enable scrolling when content grows */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* HEADER */
.header {
  display: flex;
  flex-direction: column;
}

.header-title {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #6E3F98;
  color: var(--primary-text);
  height: 4.5rem;
}

.title {
  color: var(--primary-text);
}

.header-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.50rem;
}

.tempunit-button {
  padding: .5rem;
  border-radius: 25px;
  /* border-radius: 50%; */
  box-shadow: 0 0 12px 0 rgb(0 0 0 / 20%);
  transition-duration: 0.2s;
  background-color: whitesmoke;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tempunit-button:active {
  background-color: var(--button-bg-active);
  color: var(--primary-text);
}

.tempunit-button > p {
  height: 1rem;
  width: 1rem;
  user-select: none;
}

.position-button {
  padding: .5rem;
  border-radius: 25px;
  /* border-radius: 50%; */
  box-shadow: 0 0 12px 0 rgb(0 0 0 / 20%);
  transition-duration: 0.2s;
  background-color: whitesmoke;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}

.location-on-svg {
  height: 1rem;
  width: 1rem;
}

.position-button:active {
  background-color: var(--button-bg-active);
  fill: var(--primary-text);
}

.position-button:disabled {
  background-color: var(--search-bg);
  cursor: default;
  pointer-events: none;
}

/* .location-on-svg:disabled {
  fill: white;
} */

/* SEARCH */
.search {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--search-bg);
  color: var(--primary-text);
  height: 2.5rem;
}

.search-form {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.searchBar {
  position: relative;
  width: 100%;
}

#search {
  border-radius: var(--card-border-radius);
  height: 1.5rem;
  padding: 0 0.25rem;
  user-select: none;
}



/* #search:valid {
  border: 2px solid black;
} */
#search:invalid {
  border: red solid 2px;
}

.search-button {
  border-radius: var(--card-border-radius);
  height: 1.5rem;
  padding: 0 0.25rem;
  transition-duration: 0.2s;
  cursor: pointer;
  user-select: none;
}

.search-button:active {
  background-color: var(--button-bg-active);
  color: var(--primary-text);
}

.near-me-button {
  border-radius: var(--card-border-radius);
  height: 1.5rem;
  padding: 0 0.25rem;
  margin-left: 0.20rem;
  transition-duration: 0.2s;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.near-me-button:active {
  background-color: var(--button-bg-active);
  color: var(--primary-text);
}

.near-me-button:disabled {
  background-color: var(--search-bg);
  cursor: default;
  pointer-events: none;
}

.search-near-me-svg {
  height: 1rem;
  width: 1rem;
}

.search-near-me-svg:active {
  background-color: var(--button-bg-active);
  fill: var(--primary-text);
}

.autocomplete-container.closed {
  display: none;
}

.autocomplete-container.open {
  display: block;
  position: absolute;
  width: 100%;
  border-radius: var(--card-border-radius);
}

.autocomplete-list-item {
  list-style: none;
  cursor: pointer;
  background-color: whitesmoke;
  color: black;
  padding: 0 0.25rem;
}

.autocomplete-list-item:hover {
  background-color: #8B65AD;
}

.list-item-not-found {
  list-style: none;
  cursor: default;
  background-color: whitesmoke;
  color: black;
}

/* LOCATIONLIST */
.location-list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--location-list-bg);
  color: var(--primary-text);
  font-size: 0.75rem;
  height: 2rem;
  position: relative;
}

.location-list::-webkit-scrollbar {
  display: none;
}

.location-list-slider {
  width: 100%;
  height: 100%;
  display: flex;
  overflow: hidden;
  overflow-x: scroll;
  scrollbar-width: none;
  /* Scroll-behaviour breaks slider, problem in chromium with scrolling. */
  /* scroll-behavior: smooth; */
  /* -ms-overflow-style: none; */
}

.location-list-item {
  display: flex;
  align-items: center;
  height: 100%;
  gap: 0.5rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  border-right: 1px dotted var(--nav-bg);
  background-color: var(--location-list-bg);
}

.location-list-item.active {
  background-color: var(--location-list-item-active-bg);
}

.location-list-item a {
  cursor: pointer;
  text-decoration: none;
  color: var(--primary-text);
  user-select: none;
}
.location-list-item a:active {
  text-decoration: none;
  color: var(--primary-text-dark);
}

.location-list-item-text {
  text-decoration: none;
  white-space: nowrap;
}

.location-list-button-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.location-list-button {
  width: 1rem;
  height: 1rem;
  background-color: var(--primary-text);
  fill: var(--nav-bg);
  outline: none;
  background: transparent;
  border: 1px solid transparent;
  cursor: pointer;
  border-radius: 25px;
}
.location-list-button:active {
  background-color: var(--button-bg-active);
  fill: var(--primary-text);
}

.location-list-left-arrow-icon,
.location-list-right-arrow-icon {
  width: 24px;
  height: 24px;
  padding: 0.25rem;
  /* cursor: pointer; */
  fill: var(--primary-text);
  /* background-color: var(--nav-bg); */
  
}

.location-list-left-arrow-icon svg,
.location-list-right-arrow-icon svg {
  border-radius: 25px;
  background: var(--nav-bg);
  cursor: pointer;
}

.location-list-left-arrow-icon svg:hover,
.location-list-right-arrow-icon svg:hover {
  background: var(--search-bg);
}

.location-list .location-list-left-arrow-icon, .location-list .location-list-right-arrow-icon {
  position: absolute;
  top: 0;
  height: 100%;
  /* width: 100px; */
  display: none;
  align-items: center;
  justify-content: center;
  /* padding: 0 0.5rem; */
}

.location-list .location-list-left-arrow-icon.active, .location-list .location-list-right-arrow-icon.active {
  display: flex;
}


.location-list .location-list-left-arrow-icon {
  /* right: 0; */
  background: linear-gradient(to right, var(--location-list-bg) 50%, transparent);
}

.location-list .location-list-right-arrow-icon {
  right: 0;
  background: linear-gradient(to left, var(--location-list-bg) 50%, transparent);
}

/* NAVBAR */
#navbar {
  background-color: var(--nav-bg);
  height: 3rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.nav-list-link {
  height: 100%;
  padding: 0.75rem;
  border-bottom: 3px solid #42265B;
  color: var(--primary-text);
  text-decoration: none;
  cursor: pointer;
  user-select: none;
}

.nav-list-link:hover {
  border-bottom: 3px solid var(--primary-text);;
}

#navbar a.active {
  border-bottom: 3px solid var(--primary-text);;
}

/* PAGES */
.router-content {
  background: linear-gradient(#6E3F98, #F2E4DD);
  flex: 1;
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr repeat(6, 1fr) 1fr;
}

.page-container {
  grid-column-start: 2;
  grid-column-end: 8;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/* CARDS */
.card {
  /* height: 100%; */
  background: var(--card-bg);
  color: var(--card-text-header);
  border-radius: var(--card-border-radius);
  box-shadow: var(--card-box-shadow);
}

.card-header {
  padding: var(--card-header-padding);
}

.hero-card {
  background: hsla(0, 0%, 100%, .1);
  color: var(--primary-text);
  border-radius: var(--card-border-radius);
  box-shadow: var(--card-box-shadow);
}

.hero-card-header {
  padding: var(--card-header-padding);
  background: rgba(0,0,0,0.45);
  border-top-right-radius: var(--card-border-radius);
  border-top-left-radius:  var(--card-border-radius);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero-card-header > span {
  /* font-size: 13px; */
  margin-left: 0.25rem;
}

.card-content {
  padding-bottom: 1rem;
  /* height: 100%; */
}

/* FOOTER */
.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* height: 3rem; */
  padding: 1rem 0;
  background-color: var(--primary-text);
}

.footer-text {
  font-size: 0.75rem;
}

.footer > img {
  height: 2rem;
}

/* ERROR */
.error-text {
  padding: 0 1rem;
}

/* LOADING */
.skeleton-card {
  background-color: #E5E4E2;
  border-radius: var(--card-border-radius);
  animation: 4s infinite alternate skeleton-card;
}

.skeleton-header {
  padding: var(--card-header-padding);
  border-top-right-radius: var(--card-border-radius);
  border-top-left-radius:  var(--card-border-radius);
}

.skeleton-header-content {
  height: 25px;
  max-width: 200px;
  background-color: #c5c5c5;
  animation: 2s infinite alternate skeleton-card;
}

.skeleton-content {
  height: 128px;
  background-color: #c5c5c5;
  animation: 2s infinite alternate skeleton-card;
}

.skeleton-footer {
  height: 1rem;
}

@keyframes skeleton-card {
  from {
    background-color: hsla(0, 0%, 100%, 0.1);
  }
  to {
    background-color: hsla(0, 0%, 100%, .3);
  }
}

@media only screen and (max-width: 600px) {
  .router-content {
    padding: 1rem 0;
  }

  .page-container {
    grid-column-start: 1;
    grid-column-end: -1;
  }

  .hero-card-header > span {
  font-size: 0.75rem;
}
}

@media only screen and (min-width: 1000px) {
  .page-container {
    grid-column-start: 3;
    grid-column-end: 7;
  }
}